github "Alamofire/Alamofire" == 4.0.1
github "Hearst-DD/ObjectMapper" == 2.2.1
github "tristanhimmelman/AlamofireObjectMapper" ~> 4.0.0
github "auth0/JWTDecode.swift" == 2.0.0
github "kishikawakatsumi/KeychainAccess" == 3.0.1
